.navbar {
    h1 {
        text-align: left;
    }
    .footer-logo {
        background-image: url(../images/d’Perfumewhite@2x.png);
        width: 128px;
        height: 38px;
        display: block;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
        background-size: contain;
    }
}