.item_product {
    &__img {
        position: relative;
        &:hover {
            &::before {
                content: '查看更多';
                position: absolute;
                font-size: 18px;
                color: #ffffff;
                background-color: rgba(255, 255, 255, 0.4);
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-shadow: rgba(0, 0, 0, 0.15) 0px 5px 5px;
                transition: all 750ms;
            }
        }
        img {
            width: 100%;
            max-width: 255px;
            height: 255px;
            object-fit: cover;
            object-position: center center;
            @include media-breakpoint-up(lg) {
                height: 260px;
                object-fit: cover;
                object-position: center center;
            }
        }  
    }
}