.nav-link {
        position: relative;
        text-align: center;
        padding-top: 12px;
        border-bottom: 1px solid transition;
        color: $success;
        &::before {
            content: '';
            position: absolute;
            border-bottom: 1px solid white;
            opacity: 0;
            width: 0;
            left: 0;
            bottom: 0;
            transition: 0.5s;
        }
        &:hover::before{
            width: 100%;
            opacity: 1;
            transition: 0.5s;
        }
}
.navbar-collapse {
    .navbar-nav {
        .nav-item {
            @include media-breakpoint-down(sm) {
                background-color: #707070;
            }
            .nav-link {
                color: $success;
                &:hover {
                    color:$primary;
                }
                @include media-breakpoint-down(sm) {
                    color: $white;
                    &:hover {
                    color: $white;
                }
                }
            }
        }
    } 
}